In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('indeed_seed.csv')

In [3]:
df = df.drop_duplicates(subset=['company', 'title'])

In [22]:
# create ['js_count','python_count'] columns with counts of each showing up in job descriptions
descriptions = df['description']
df['js_count'] = descriptions.str.count(r'[jJ]ava[sS]cript')
df['python_count'] = descriptions.str.count(r'[Pp]ython')
df[['js_count', 'python_count']] = df[['js_count', 'python_count']].fillna(0).astype(int)

In [5]:
def format_hourly(num):
    '''Returns annual salaries converted from hourly rates'''
    return num * 2000 if num > 0 and num < 1000 else num

In [21]:
# creates the 'formatted_sal' column by finding and formatting high range of scraped salary data
sal_cap_groups = df['salary'].str.extract(r'\d\d\d?,\d\d\d\s-\s\$(\d\d\d?,\d\d\d)|\d\d\s-\s\$(\d\d)')
combined = sal_cap_groups[0].combine_first(sal_cap_groups[1]).str.replace(',', '')
df['formatted_sal'] = combined.fillna(0).astype(int).map(format_hourly).replace(0, np.nan)
# df_dd['formatted_sal'] = combined.fillna(0).astype(int).map(lambda num: num * 2000 if num > 0 and num < 1000 else num).replace(0, np.nan)

0          NaN
1          NaN
2          NaN
3      50000.0
4          NaN
5     140000.0
6     128000.0
7          NaN
8          NaN
9          NaN
10    110000.0
11         NaN
12         NaN
13         NaN
14         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20    160000.0
21         NaN
23         NaN
24         NaN
25         NaN
26     85000.0
27         NaN
28    110000.0
29         NaN
30         NaN
31    148071.0
33         NaN
35         NaN
36         NaN
38    150000.0
39         NaN
40         NaN
41         NaN
42         NaN
44     85000.0
49         NaN
50         NaN
52         NaN
54         NaN
56         NaN
57         NaN
58         NaN
59         NaN
60         NaN
61         NaN
62         NaN
Name: formatted_sal, dtype: float64

In [15]:
grouped = df.groupby(['search_loc', 'search_terms'])
market_sals = grouped['formatted_sal'].mean().sort_values(ascending=False).astype(int)

In [16]:
market_sals.to_csv('market_sals.csv', encoding='utf-8-sig')

In [17]:
df.to_csv('indeed_seed_jup.csv',index=False,encoding='utf-8-sig')